VITE_CHAIN_ID=8453
VITE_CHAIN_NAME=Base
VITE_EXPLORER_URL=https://basescan.org
# VITE_AQUA sengaja kosong: alamat resmi diambil dari @1inch/aqua-sdk
# VITE_SWAP_VM_ROUTER kosong: router kita belum ter-deploy di Base
# Naikkan kalau RPC-mu berbayar; RPC publik Base menolak jauh sebelum ini.
VITE_MARKETS_LOOKBACK_BLOCKS=45000
